<h1>Update the {{this.recipeName}} recipe</h1>

<form data-id="{{this.id}}" class="update-form">

  <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author" value="{{this.authorName}}">
  </div>
  <div class="form-group">
    <label for="rec">Recipe:</label>
    <textarea id="rec" name="recipe">{{this.recipeName}}</textarea>
  </div>
  <div class ="form-group ingredients-submission">
	  <label for="items">Ingredients:</label>
	  {{!-- <input type="text" id="items" name="items" placeholder= "1 tsp sugar">{{this.item}}</input> --}}
  </div>
<button type="submit">Add Additional Ingredients</button>
<br>
<button type="submit">Add Instructions for the Recipe</button>
<br>
  <button type="submit">Update Recipe</button>

</form>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="./../public/assets/js/test.js"></script>
