<div id="navbar">
  {{> nav}}
</div>

<h1>Add Recipes</h1>


<form class="create-form">

  <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author">
  </div>

  <div class="form-group">
    <label for="rec">Recipe Name:</label>
    <input id="rec" name="recipe"></input>
  </div>
  <div class="form-group">
    <label for="rec">Ingredients:</label>
    <input id="ing" name="ingredients"></input>
  </div>
  <div class="form-group">
    <label for="rec">Instructions:</label>
    <input id="ins" name="instructions"></input>
  </div>

  <button type="submit">Add Recipe</button>
</form>

<ul>
  {{#each myRecipes}}
  	<li>
    <p class="label">Author: {{this.authorName}}</p>
	  <p class="label">Recipe: {{this.recipeName}}</p>
    <p class="label">Ingredients: {{this.ingredientsName}}</p>
    <p class="label">Instructions: {{this.instructionsName}}</p>

      <button data-id="{{this.id}}" class="delrecipe">Delete</button>
       
      
  	</li>
  {{/each}}
</ul>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/myrecipe.js"></script>
